/* Home.css */

.home {
  background-color: #2a96c9; /* Color de fondo */
}

.header {
  background-color: #333; /* Color de fondo del encabezado */
  color: white; /* Color del texto del encabezado */
  padding: 20px;
  text-align: center;
}

.container {
  text-align: center; /* Centrar el contenido */
  padding-top: 20px; /* Espacio superior para el contenido */
}

.navigation-menu {
  background-color: #333; /* Color de fondo del menú */
  overflow: hidden;
}

.navigation-menu ul {
  list-style-type: none; /* Elimina los puntos de lista */
  margin: 0;
  padding: 0;
}

.navigation-menu li {
  display: inline-block; /* Mostrar los elementos en línea */
}

.navigation-menu li a {
  display: block;
  color: white; /* Color del texto */
  text-align: center;
  padding: 14px 16px; /* Espaciado alrededor del texto */
  text-decoration: none;
}

/* Cambiar color de enlace al pasar el cursor */
.navigation-menu li a:hover {
  background-color: #555; /* Color de fondo al pasar el cursor */
}

.content {
  margin-top: 20px;
}
